.rodape {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: left;
    height: auto;
    position: flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    img {
      display: block;
      width: 200px;
      height: auto;
      border-radius: 50%;
      border: 1px solid #fff;
      align-items: center;

      @media (max-width: 1024px) {
        width: 200px;
        height: auto;
      }
      @media (max-width: 768px) {
        width: 150px;
        height: auto;
      }
      @media (max-width: 480px) {
        width: 150px;
        height: 200px;
        object-position: center;
      }
  }
  
    .team {
      font-size: 12px;
      line-height: 1.5;
      flex: 1;
      text-align: center;

      @media (max-width: 1024px) {
        font-size: 1rem;
      }
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
      @media (max-width: 480px) {
        font-size: 0.7rem;
      }
    }

  }
  