.pagina {
  .newsSection {
    padding: 10px;
    text-align: center;

    .newsItem {
      margin-bottom: 20px;

      h2 {
        font-size: 21px;
        font-weight: bold;
        color: #000;
      }

      p {
        font-size: 15px;
        color: #666;
      }
    }

    .imageGrid {
      display: flex;
      justify-content: center;
      gap: 10px;

      .swipper-wrapper {
        display: flex;
      }

      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .imageCard {
        width: 150px;
        height: 150px;
        background: #ccc;
        box-shadow: 6px 5px 2px 2px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        overflow: hidden;
      }

      .imageCard img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s ease;
      }
      &:hover {
        color: $dark-grey;
      }

      .imageCard .cardName{
        position: absolute; 
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 16px;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px;
        border-radius: 5px;
      }
    }
  }

  .monthlyJournals {
    padding: 20px;

    h2 {
      font-size: 21px;
      margin-bottom: 10px;
    }

    .journalGrid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      .journalCard {
        background: #f9f9f9;
        padding: 15px;
        text-align: center;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        font-size: 16px;
        transition: .2s ease;
      }
      &:hover {
        color: $dark-grey;
      }
    }
  }
}
